

.introduction,.signin{
    min-height: 550px;
}


/* subtitle after big text */
.introduction .subtitle{
max-width: 350px;
}

.img-select{
    bottom: 3%;
    right: 3%;
}

.img-select > input[type=file]{
    opacity: 0;
}


.create-ticket #img_preview{
    max-width: 200px;
    margin: auto;
}


