/* ...dashboard */

/* add temporary bg to chart container */
.tabs.dashboard .chart>.pie_chart {
    /* background-color: var(--light-gray); */
    position: relative;
    width:600px;
    height:600px;
    }

    @media screen and (max-width: 992px) {
    .tabs.dashboard .chart>.pie_chart {
        width: 400px;
        height: 400px;
    }
    }

@media screen and (max-width: 450px) {
    .tabs.dashboard .chart>.pie_chart {
        width: 300px;
        height: 300px;
    }
}


@media screen and (max-width: 370px) {
    .tabs.dashboard .chart>.pie_chart {
        width: 200px;
        height: 200px;
    }
}

/*style ticket color codes */
.tk_status {
    min-width: 50px;
    min-height: 50px;
    border-radius: 8px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}

.status-Open {
    background-color: rgb(246, 67, 109);
}

.status-Pending {
    background-color: rgb(54, 162, 235);
}

.status-Resolved {
    background-color: rgb(49, 182, 80);
}

.status-Closed {
    background-color: rgb(90, 96, 100);
}