/* ...tickets */

/* filter links */
.ticket_status>.link_status {
    border-radius: 16px;
    color: white;
}

/* add bg to active state */
.link_status.active_link {
    background-color: white;
}

/* tables action links */
.table .table_action_link {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#modal_agent_list .avatar{
   width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
}

.status-Open {
    background-color: rgb(246, 67, 109);
}

.status-Pending {
    background-color: rgb(54, 162, 235);
}

.status-Resolved {
    background-color: rgb(49, 182, 80);
}

.status-Closed {
    background-color: rgb(90, 96, 100);
}